//Foundation Custom SASS for Genesis of Robotics

   //Mixins
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
    //@include transition(all, blah, blah);
   //Variables
   
   $panel-radius: 12px;
   
   $image-radius: 20px;
   
   $googleplus-color: #dd4b39;
   
   $youtube-color: #FF3333;
   
    
    //General Styles
    /*body {
	background: url('../images/header_gradient.png') !important;
	//background-color: $body-bg;
	background-attachment: fixed !important;
	background-repeat: repeat !important;
	//background-position: center;
    }*/
    
    a {
	font-weight: 400;
    }
    
    /*body {
	-webkit-transform: scale(-1,-1) ;
	-moz-transform: scale(-1,-1) ;
	-o-transform: scale(-1,-1) ;
	-ms-transform: scale(-1,-1) ;
	transform: scale(-1,-1) ;
    }*/
    
    p {
	
	margin-top: 17px !important;
    }

    .p-size-1{
        font-size: 1.2rem;
    }
    
    .page ul{
	margin-top: 17px;
    }

    .row {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
    
    .center {
	//This is great for centering images
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    .text-center {
	text-align: center;
    }
    
    .rounded-image-corners {
	//This rounds the corners of images
        -webkit-border-radius: $image-radius;
        -moz-border-radius: $image-radius;
        border-radius: $image-radius;
        
    }
    
    .paragraph-margins {
	margin-bottom: 20px;
    }
    

    
    .vertical-line {
	border-left: 1px dotted $primary-color;
    }
    
    .light-font {
	color: #fff;
    }
    
    
    //Section Styles
    
    .page {
	//Each section should have this class for the background color. This is leftover from some funky stuff that was done earlier.
        //width: 100%;
        background-color: $body-bg;
        padding-top: 30px;
        padding-bottom: 100px;
	
    }
    
    #header {
	   //header background information moved inline
        
        h2 {
            font-size: 2.3rem;
            text-align: center;
            font-weight: 300;
	    color: black !important;
        }
        
        h3 {
            font-family: 'FontAwesome';
            color: lighten($genesis-purple, 3%);
            font-size: 3rem;
            text-align: center;
            margin-top: 2.8rem;
        }  
    }

    
    //About
    
    #about {
	padding-top: 0;
    }
    
    #contact {
	background: url('img/paper.png');
	background-repeat: repeat;
    }
    
    #contact .icon{
	font-family: 'FontAwesome';
	font-size: 10rem;
	margin: 0px 0px 0px 0px;
	line-height: 1;
	
    }
    
    .icon .googleplus {
	color: $googleplus-color;
    }
    
    .icon .youtube {
	color: $youtube-color;
    }
    
    
    #footer {
	//background-color: darken(#fff, 75%);
	margin-bottom: 0px;
	background: url('./images/css/footer.jpg');
	background-repeat: repeat-x;
	padding-bottom: 70px;
	
    }
    
    .full-width {
	width: 100%;
    }
    
    #header-top h2 {
	/*text-align: center;*/
	margin: 0px;
	color: white;
	font-weight: 300;
    }
    
	//Members

    #members p, #members h3, #members h4{
        text-align: center;
    }

    #members span {
        font-weight: bold;
    }
	
	#members {

		
	    .subheader {
		text-align: center;
		
		
	    }
	    h5,.subheader {
	    margin: 0px 0px 0px 0px;
	    }
	    
	}

	
    
    //Section Panels
        .section-panel {
            
            margin: 30px 30px 30px 30px;
            padding-top: 30px;
            padding-bottom: 20px;
            
            background: darken(#fff, 7%);
            
            border-style: solid;
            border-width: 1px;
            border-color: darken(#fff, 12%);
            
            -moz-border-radius: $panel-radius;
            -webkit-border-radius: $panel-radius;
            border-radius: $panel-radius;
	    
	    -webkit-box-shadow: 0px 6px 12px rgba(50, 50, 50, 0.65);
	    -moz-box-shadow:    0px 6px 12px rgba(50, 50, 50, 0.65);
	    box-shadow:         0px 6px 12px rgba(50, 50, 50, 0.65);
            
        }
    
    //Topbar
    .name h1 a {
        font-family: "dekar";
	//font-weight: 300 !important;
        //font-size: 27px;
    }
    
    .best-button-topbar {
	height: $topbar-height;
	width: auto;
    }
    

    .top-bar-section a, i {
        -webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
    }
    
    #dummy {
        width: 1px;
    }
    
    .top-bar-section > .right {
        background: none;
    }
    
    .social-button a {
        font-family: "FontAwesome";
        font-size: $topbar-link-font-size + 0.5rem !important;
    }
    
    .social-button, .youtube a:hover i{
        color: $youtube-color;
    }
    
    .social-button, .googleplus a:hover i{
        color: $googleplus-color;
    }
    
    
    
    //Specific Styles

    
    
    
    //Animations
    
    .rotate-1 img{
	-webkit-transition: 400ms;
	-moz-transition: 400ms;
	-o-transition: 400ms;
	transition: 400ms;
	margin-bottom: 7px;
    }
    
    .rotate-1:hover img{
	
	-webkit-transform: rotate(90deg) ;
	-moz-transform: rotate(90deg) ;
	-o-transform: rotate(90deg) ;
	-ms-transform: rotate(90deg) ;
	transform: rotate(90deg) ;
    }
    
    .bump-down {
	-webkit-transition: 400ms;
	-moz-transition: 400ms;
	-o-transition: 400ms;
	transition: 400ms;
    }
    
    .bump-down:hover {
	transform: translate(0px, 25px);
	-webkit-transform: translate(0px, 25px);
	-moz-transform: translate(0px, 25px);
	-o-transform: translate(0px, 25px);
	-ms-transform: translate(0px, 25px);
    }
    
    //Media Queries
    
    /* We use this media query to add styles to any device that supports media queries */
    // body is added to some of these so that they are seen as higher priority than the defaults, because the defaults come later in the compiled code.  Silly, I know.
    @media only screen {
	
	body {
	    p {
		font-size: ($paragraph-font-size - 0.10rem);
	    }
	    
	    h3 {
		font-size: ($h3-font-size - 0.4rem);
	    }
	    
	    h2 {
		font-size: ($h2-font-size - 0.8rem);
	    }
	    #header #logo {
			height: 150px;
            margin-top: 50px;
		    }
	    #header h2 {
		font-size: 25px;
	    }
	    
	    .section-title-right {
		text-align: center;
	    }
	    
	    #about .subheader {
		text-align: left;
	    }
	    
	    #header {
		padding-top: 0.8rem;
		padding-bottom: 1rem;
	    }

        

        #operational {
            transform: translate(0, 0);
            -webkit-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
        }
	    
	    
	}
	
    }
    /* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
    @media only screen and (min-width: 768px) {
	body {
	    p {
		font-size: $paragraph-font-size;
	    }
	    
	    h3 {
		font-size: $h3-font-size;
	    }
	    
	    h2 {
		font-size: $h2-font-size;
	    }
	    #header #logo {
		height: 300px;
	    }
	    
	    #header h2 {
		font-size: 37px;
		margin-bottom: 10px;
	    }
	    
	    #genesisofrobotics {
		margin-top: 20px;
		margin-bottom: 20px;
	    }
	    .section-title-right {
		text-align: right;
	    }
	    
	    #about .subheader {
		text-align: center;
	    }
	    
	    #header {
		padding-top: 1rem;
		padding-bottom: 1rem;
	    }

        #operational {
            transform: translate(0, -250%);
            -webkit-transform: translate(0, -250%);
            -o-transform: translate(0, -250%);
            -ms-transform: translate(0, -250%);
        }
	    
	    
	}
	
    }
    
    /* Used to alter styles for screens at least 1280px wide. */
    @media only screen and (min-width: 1280px) {
	body {
	    #header #logo {
		height: 350px;
	    }
	    
	    #header h2 {
		font-size: 37px;
	    }
	    
	    #genesisofrobotics {
		margin-top: 20px;
		margin-bottom: 30px;
	    }
	}
    }

    /* Used to alter styles for screens at least 1440px wide. */
    @media only screen and (min-width: 1440px) {
	body {
	    #header #logo {
		height: 500px;
	    }
	    
	    #header h2 {
		font-size: 37px;
	    }
	    
	    #genesisofrobotics {
		margin-top: 30px;
		margin-bottom: 40px;
	    }
	}
    }
    
    //Other Custom Stuff
body { 
    .top-bar-section {
      ul li {
	// Apply the active link color when it has that class - Changed by Conner
	&.active a { background: darken($topbar-dropdown-bg, 3%); font-weight: 700; }
      }
    
    }
}

.transition1 {
    
    -webkit-transition: 1.3s;
    -moz-transition: 1.3s;
    -o-transition: 1.3s;
    transition: 1.3s;
}

//Blades:
        #blade1 {
            position:absolute; 
            top: 448px; 
            left: 335px; 
            -webkit-transform: rotate(8deg); 
            transform: rotate(8deg); 
            -ms-transform: rotate(8deg);
        }
        #blade1.moved {

            top: 180px; 
            left: 727px; 
            -webkit-transform: rotate(270deg); 
            transform: rotate(270deg); 
            -ms-transform: rotate(270deg);
        }
        #blade2 {
            position:absolute; 
            top: 477px; 
            left: 503px; 
            -webkit-transform: rotate(8deg); 
            transform: rotate(8deg); 
            -ms-transform: rotate(8deg);
        }
        #blade2.moved {

            top: 280px; 
            left: 670px; 
            -webkit-transform: rotate(150deg); 
            transform: rotate(150deg); 
            -ms-transform: rotate(150deg);
        }
        #blade3 {
            position:absolute; 
            top: 504px; 
            left: 655px; 
            -webkit-transform: rotate(8deg); 
            transform: rotate(8deg); 
            -ms-transform: rotate(8deg);
        }
        #blade3.moved {

            top: 278px; 
            left: 780px; 
            -webkit-transform: rotate(30deg); 
            transform: rotate(30deg); 
            -ms-transform: rotate(30deg);
        }


   
#arrow {
    margin-bottom: 3rem;
}

#lol {
    z-index: 200;
    position: absolute;
    display: none;
}

//Should be a general class, I know...
#remail {
    margin-bottom: 80px;
}
    